[Unit]
Description=Power off the host on a serial2moon request
Documentation=https://github.com/Lukas-Heiligenbrunner/serial2moon

[Service]
Type=oneshot
# Remove the request first so it can't re-trigger, then power off the host.
ExecStartPre=/bin/rm -f /run/serial2moon/shutdown
ExecStart=/usr/bin/systemctl poweroff
